# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. R
2. Java
3. Python
4. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. SciPy
4. PyTorch

# Data Science Tools
| Data Science Tools |
| -------------|
| Gitlab |
| R Studio |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
1.  list data science languages
2.  list data science libraries
3.  Create a table of Data Science tools
4.  Convert minutes to hours

## Author
Yo Douglas